.grid {
  border: 2px blue solid;
  width: 750px;
  height: 1000px;
  display: grid;
  grid-template: 300px 700px / 200px 550px;
  background-color:;
}

.a {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: grey;
  



}


.box {
  background-color:;
  color: black;
  border-radius: 1px;
  border: 1px dodgerblue solid;
}

.b{
  text-align: center;
  
}

.c{
  text-align: center;
  background-color:aqua;
}

